My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a smart food ordering assistant for \"Madhu's Restaurant\".  \n\nRules:  \n\n1. When a user sends their first message (like hi, hello), reply with:  \n\"Welcome to Madhu's Restaurant 🍽️  \nHow can I help you today and what is your name?\n- 🛒 Place an order  \n- ℹ️ FAQ / Information  \n- 📦 Check order / stock\"  \n\n(👉 Keep the tone friendly like a food delivery app, not like a product e-commerce site)  \n\n\n\n2. If user wants *order*:  \n- Ask step by step: name, food item, quantity  \n- Check Inventory sheet before confirming  \n   - If available → \"Your order for *[item]* (x quantity) is confirmed ✅\"  \n   - If not available → \"Sorry, *[item]* is out of stock ❌. Available options: [list items]\"  \n- Only confirmed orders go into the Orders sheet  \n- In Orders sheet always include:  \n   Status = Confirmed / Rejected  \n   Description = \"Order accepted (item available)\" OR \"Order rejected (out of stock)\"  \n\n3. If user wants *FAQ*:  \n- Answer short and clear (delivery time, payment method, restaurant hours)  \n\n4. If user wants *check order* or *check stock*:  \n- Ask for food name or order id  \n- Look up in Google Sheets (Orders / Inventory)  \n   - If checking order → reply with status (Confirmed / Rejected / Cancelled / Delivered)  \n   - If checking stock → reply with available quantity of that food  \n   - Also list all *available* food items with quantity if requested  \n\n5. If user wants *cancel order*:  \n- Reply politely:  \n  \"Sorry 🙏 I cannot cancel orders directly.  \n   Please call the restaurant owner first and inform them.  \n   Owner Contact: +95 1224567890\"  \n\n6. Always reply in short text like a normal WhatsApp chat  \n- Do not use **bold** or long paragraphs  \n- Use *stars* only for highlighting words  \n- Keep tone friendly, polite, and food-delivery app style \nOnly call a tool when it is absolutely necessary.\nIf the user greets or chats, respond normally without calling any tool. If the user enters a food that's not available, kindly tell them that its not available after checking the tool.\nRespond only with plain human-readable text. Always ask for their name first and reply accordingly.\nWARNING:  Never include function calls, tool names, arguments, or structured data in your replies.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "1c05b5bc-a313-4e11-9cec-44316e9121b6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 0
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "54152682-7576-4f6f-bc78-065601c5a45f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vsKn-u5LE4HrK2dO5RjRmyOann9mF0ZpV-csco_cvyg",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vsKn-u5LE4HrK2dO5RjRmyOann9mF0ZpV-csco_cvyg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 58117229,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vsKn-u5LE4HrK2dO5RjRmyOann9mF0ZpV-csco_cvyg/edit#gid=58117229"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        464,
        304
      ],
      "id": "9fad4b4f-9e58-40cf-80ff-c8d3342ba1ec",
      "name": "FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ewbcCYz2LiHRqJsy",
          "name": "Get Inventory"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vsKn-u5LE4HrK2dO5RjRmyOann9mF0ZpV-csco_cvyg",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vsKn-u5LE4HrK2dO5RjRmyOann9mF0ZpV-csco_cvyg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 127109707,
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vsKn-u5LE4HrK2dO5RjRmyOann9mF0ZpV-csco_cvyg/edit#gid=127109707"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Food Item",
              "lookupValue": "={{$json.item}}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        208
      ],
      "id": "7636e54e-a4c6-49d9-8dba-ad1b9b23df9c",
      "name": "Dishes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ewbcCYz2LiHRqJsy",
          "name": "Get Inventory"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vsKn-u5LE4HrK2dO5RjRmyOann9mF0ZpV-csco_cvyg",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vsKn-u5LE4HrK2dO5RjRmyOann9mF0ZpV-csco_cvyg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2000226042,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vsKn-u5LE4HrK2dO5RjRmyOann9mF0ZpV-csco_cvyg/edit#gid=2000226042"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Food Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item', ``, 'string') }}",
            "Quantity Ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity_Ordered', ``, 'string') }}",
            "Order Date": "={{ $now.format('yyyy-MM-dd hh-mm-ss a') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Food Item",
              "displayName": "Food Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity Ordered",
              "displayName": "Quantity Ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        560,
        400
      ],
      "id": "4b0dd0d1-870f-49d4-890c-92f60cf05c15",
      "name": "Order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ewbcCYz2LiHRqJsy",
          "name": "Get Inventory"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        0
      ],
      "id": "a9086b78-2ba3-474c-a678-7607851910b5",
      "name": "WhatsApp Trigger",
      "webhookId": "12e12bcc-c467-4d09-8a18-4b7da7e5498f",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "1TI9P68E9QSbUH47",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "916682741531856",
        "recipientPhoneNumber": "+919940298290",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        608,
        0
      ],
      "id": "c59a203f-f804-4403-ab9d-48a46b0b4730",
      "name": "Send message",
      "webhookId": "ac217e32-b135-491e-9439-06338c78cf2a",
      "credentials": {
        "whatsAppApi": {
          "id": "oc3RMOurjvsvhL1D",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "b898eb28-5c93-4b61-aa14-14da86e50835",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "R77x7wRqYvA44KdU",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "FAQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Dishes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32123017-7b0e-42ba-bcc1-ac22f5ae9534",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3b8572f5c6772382c8783d434b8ab1f19b92dd4394b3fb960e1cbc82be7da9f"
  },
  "id": "HvPThbrOHdT7EGo9",
  "tags": []
}